/* GENERAL STYLING */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

/* HEADER & FOOTER STYLES */

#header, #footer {
  display: flex;
  width: 100%;
}

#header .container, #footer .container {
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 1rem;
    padding: 1rem 0;
    width: 100%;
    margin-top: 1rem;
  }

#header .container .logo, #footer .container .logo {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1;
}

#header .logo img, #footer .logo img {
    padding-left: 2rem;
    max-width: 100%;
    height: 1.5rem;
    display: block;
    margin-right: 1rem;
  }

/* HEADER */

#header .container {
    background-color: cadetblue;
    max-width: 53.33333rem;
  }

#header .container .logo {
  color: white;
}

#header nav span {
    display: inline-block;
    margin-right: 2rem;
}

#header nav a {
    color: white;
    text-decoration: none;
}

/* FOOTER */

#footer .container {
    background-color: azure;
    padding: 4rem 0 4rem 4rem;
    max-width: 57.33333rem;
}

#footer .container .logo {
  color: black;
}

/* UPPER CONTENT BOX (OVER MAIN PICTURE) AND BOTTOM CONTENT BOX */

#top_main_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* UPPER CONTENT BOX (OVER MAIN PICTURE) */

#top_main_container {
    background-image: url(../images/glasses-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
  }

#content1 {
  display: flex;
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 57.33333rem;
  justify-content: flex-end;
  margin-top: 10rem;
}


#content1 .container {
    display: flex;
    background-color: white;
    padding: 1.5rem 5rem;
    align-items: center;
  }

#content1 .container h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* BOTTOM CONTENT BOX */

#bottom_main_container {
    height: auto;
}

#bottom_main_container .boxes .row1_wrapper, #bottom_main_container .boxes .row2_wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 57.333rem;
    margin: 0 auto;
    padding-top: 3rem;
}

#bottom_main_container .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#bottom_main_container .boxes .box.row1 {
    margin: 0 3rem;
    height: 8rem;
    justify-content: space-between;
}

#bottom_main_container .boxes .box.row1 h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom_main_container .boxes .box.row2 {
    width: 35%;
    align-items: flex-start;
}

#bottom_main_container .boxes .philosophy {
  margin-right: 2.5rem;
}

#bottom_main_container .boxes .appointments {
  margin-left: 2.5rem;
}

#bottom_main_container .boxes .box.row2 h3 {
    color: white;
    background-color: cadetblue;
    width: 10rem;
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin: 3rem 0 1rem 0;
    font-weight: bold;
    font-size: 1rem;
}

#bottom_main_container .boxes .box.row2.philosophy p {
    margin-bottom: 5rem;
}

#bottom_main_container .box_image1 img {
    display: block;
    max-height: 100%;
    width: 3.5rem;
}

#bottom_main_container .box_image2 img, #bottom_main_container .box_image3 img {
    display: block;
    max-height: 100%;
    width: 5rem;
}
